.productos-section {
   padding: 20px;
   max-width: 1200px;
   margin: 0 auto;
}

.productos-section .productos-grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
   justify-items: center;
}

.productos-section .galeria-card {
   background-color: #020202; 
   color: rgb(235, 7, 7);
   padding: 12px;
   border-radius: 30px; 
   cursor: pointer;
   transition: 0.3s;
   width: 100%;
}

.productos-section .galeria-card img {
   width: 100%;
   height: 200px;
   border-radius: 15px;
   object-fit: cover;
}

.productos-section .galeria-card:hover {
   background-color: #8999cf;
   transform: scale(1.05);
   color: rgb(255, 77, 6);
}

.productos-section .galeria-card p {
   font-size: 18px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin-top: 10px;
   color: rgb(255, 77, 6);
   text-align: center;
}

.productos-section .galeria-card:hover p {
   color: rgb(255, 6, 180);
}


.footer {
   text-align: center;
   padding: 20px;
   background-color: #ccf580f6;
   margin-top: 150px;
   border-radius: 15px 15px 0 0;
}
