.card{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
}
.card1{
    background-color: #f5d4d4; 
    color: white;
    padding: 8px 12px;
    border-radius: 30px; 
    cursor: pointer;
    transition: 0.3s;
    
}
.card1 img{
    width: 300px;
    height: 250px;
    border-radius: 15px;
}
.card1:hover {
    background-color: #f79312;
    transform: scale(1.05);
    color: rgb(0, 26, 255);
}
.footer {
    text-align: center;
    padding: 20px;
    background-color: #ccf580f6;
    margin-top: 150px;
    border-radius: 15px 15px 0 0;
}