.card{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
}
.card1{
    background-color: #020202; 
    color: rgb(235, 7, 7);
    padding: 8px 12px;
    border-radius: 30px; 
    cursor: pointer;
    transition: 0.3s;
    
}
.card1 img{
    width: 400px;
    height: 300px;
    border-radius: 15px;
}
.card1:hover {
    background-color: #202231;
    transform: scale(1.05);
    color: rgb(255, 77, 6);
}
.card1 p{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    color: rgb(255, 77, 6);
}
.card1:hover p{
    color: rgb(180, 255, 6);
}
.footer {
    text-align: center;
    padding: 20px;
    background-color: #ccf580f6;
    margin-top: 150px;
    border-radius: 15px 15px 0 0;
}