.body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #0f0f0f, #1c1c1c);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.contacto {
    background-color: #111;
    padding: 30px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.4);
}

.contacto h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff2a2a;
    letter-spacing: 1px;
}

label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin-bottom: 15px;
    background-color: #222;
    color: #fff;
    outline: none;
}

input:focus, textarea:focus {
    box-shadow: 0 0 5px #ff2a2a;
}

textarea {
    resize: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #ff2a2a;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #d10000;
}