.contacto-form {
    background-color: #111;
    padding: 50px;
    border-radius: 12px;
    width: 350px;
    max-width: 90%;
    margin: 100px auto; 
    box-shadow: 0 0 20px rgba(241, 7, 167, 0.4);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contacto-form h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #d215b0bc; 
    letter-spacing: 1px;
}

.contacto-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #ff6b6b;
}

.contacto-form input,
.contacto-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 6px;
    background-color: #222;
    color: #fff;
    outline: none;
    font-size: 14px;
}

.contacto-form input::placeholder,
.contacto-form textarea::placeholder {
    color: #aaa;
}

.contacto-form input:focus,
.contacto-form textarea:focus {
    box-shadow: 0 0 5px #f208b4c6;
}

.contacto-form textarea {
    resize: none;
}

.contacto-form button {
    width: 100%;
    padding: 12px;
    background-color: #7f6af9;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.contacto-form button:hover {
    background-color: #6003ffa7;
    transform: scale(1.05);
}
