.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccf580f6;
    padding: 10px 10px;
    margin-left: 30px;
    width:95%;
    border-radius: 15px 15px 15px 15px;
}

.logo img {
    width: 150px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;

}

.menu li {
    background-color: #f77c7c; 
    color: white;
    padding: 8px 16px;
    border-radius: 20px; 
    cursor: pointer;
    transition: 0.3s;
}

.menu li:hover {
    background-color: #f79312;
    transform: scale(1.2);
    color: rgb(0, 26, 255);
}


.redes ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.redes img {
    width: 50px;
    height: 40px;
    cursor: pointer;
}
.card{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.card1, .card2, .card3{
    background-color: #f77c7c; 
    color: white;
    padding: 8px 16px;
    border-radius: 20px; 
    cursor: pointer;
    transition: 0.3s;
    width: 30%;
    text-align: center;
}
