.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fd6c78f6;
    padding: 10px 30px;
    margin-left: 50px;
    width:100%;
    border-radius: 15px 15px 15px 15px;
}

.logo img {
    width: 150px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;

}

.menu li {
    background-color: #ff4d4d; 
    color: white;
    padding: 8px 16px;
    border-radius: 20px; 
    cursor: pointer;
    transition: 0.3s;
}

.menu li:hover {
    background-color: #ff1a1a;
}


.redes ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.redes img {
    width: 40px;
    height: 35px;
    cursor: pointer;
}
