.izquierda {
  text-align: left;
  justify-content: center;
}

.derecha {
  text-align: right;
    justify-content: center;
}
.footer {
    
    padding: 10px;
    background-color: #3e4155f6;
    margin-top: 100px;
    border-radius: 15px 15px 0 0;
}
