div .informacion{
    background-image: url('./assets/fondo.png');
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #f70000;

}