.inicio{
    background-image: url('./assets/pista.png');
    padding: 20px;
    text-align: center;
    font-family: 'Verdana', sans-serif;
    margin: 20px;
    box-shadow: #333 2px 2px 10px;
}
.inicio h2{
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}
.inicio p{
    color: #666;
    font-size: 16px;
}