
 


.hero-section {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   color: #f2f2f2;
   height: 100vh;
   background: linear-gradient(
       rgba(0, 0, 0, 0.6),
       rgba(0, 0, 0, 0.6)
     ),
     url("./assets/redBull.png"); 
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

.hero-section .hero-content {
  text-align: center;
}

.hero-section .hero-title {
  font-size: 3.5rem;
  margin-bottom: 15px;
  color: #ff3c00;
}

.hero-section .hero-subtitle {
  font-size: 1.3rem;
  max-width: 600px;
  margin: 0 auto;
}

.hero-section .intro {
  max-width: 800px;
  margin: 80px auto;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.hero-section .intro-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ff3c00;
}

.hero-section .intro-text {
  font-size: 1.1rem;
  line-height: 1.6;
}
