.tabla-container {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff; 
  
}

.tabla-container h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
}

.tabla-usuarios {
  width: 100%;
  border-collapse: collapse;
  background-color: #1e1e1e; 
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(241, 7, 167, 0.4);
}

.tabla-usuarios th {
  background-color: #111111;
  color: #ffffff;
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #333;
}

.tabla-usuarios td {
  padding: 10px;
  border-bottom: 1px solid #333;
  color: #e0e0e0; 
}

.tabla-usuarios tr:hover {
  background-color: #2a2a2a;
}


.btn {
  padding: 6px 12px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  color: white;
}

.editar {
  background-color: #68addb;
}

.editar:hover {
  background-color: #058be3;
}

.eliminar {
  background-color: #e74c3c;
}

.eliminar:hover {
  background-color: #ff0000;
}